a,
a:link,
a:visited {
    color: var(--wp--preset--color--primary);
}
a:focus,
a:hover,
a:active {
    color: var(--wp--preset--color--primary);
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        &.grayscale-replaced>svg {
            opacity: 0;
        }
    }
}

#breadcrumb {
    .home &,
    .trail-browse {
        display: none;
    }
    border-bottom: 1px solid var(--wp--preset--color--border);
    padding-bottom: .2em;
    margin-bottom: 2em;
    * {
        @media screen and (max-width: $screen-xs) {
            font-size: 3vW;
        }
        @media screen and (min-width:$screen-xs) {
            font-size: small;
        }
    }
    text-align:right;
}

/*** Forms ***/

.wpcf7 {
    width:100%;
    &+address {
        background: lighten(#eee, 2%);
        padding: 1em;
        font-style: normal;
        margin-left: 2em;
    }
}

.top-fixed {
    position: fixed;
    right: 0;
    z-index: 10;
    background: #eee;
    min-height: 36px;
    @media screen and (max-width: $screen-md) {
        bottom: 0;
        top: auto;
    }
    @media screen and (min-width:$screen-md) and (max-width:$screen-lg) {
        top: 8em;
    }
    @media screen and (min-width:$screen-lg) {
        top: 0;
    }
}

[id*="polylang"] {
    display: block;
    margin: 0;
    ul {
        li {
            display: inline-block;
            background: transparent;
            margin: 0;
            padding: .2em .5em;
        }
    }
}

a.post-edit-link{
    display: block;
    max-width: var(--wp--style--global--content-size);
    margin: 0 auto;
}
