a,
a:link,
a:visited {
    color: var(--wp--preset--color--primary);
}
a:focus,
a:hover,
a:active {
    color: var(--wp--preset--color--primary);
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        &.grayscale-replaced>svg {
            opacity: 0;
        }
    }
}

#breadcrumb {
    .home &,
    .trail-browse {
        display: none;
    }
    border-bottom: 1px solid var(--wp--preset--color--border);
    padding-bottom: .2em;
    margin-bottom: 2em;
    * {
        @media screen and (max-width: $screen-xs) {
            font-size: 3vW;
        }
        @media screen and (min-width:$screen-xs) {
            font-size: small;
        }
    }
    text-align:right;
}

/*** Forms ***/

.wpcf7 {
    float: left;
    @media screen and (min-width: $screen-md) {
        width: 65%;
    }
    &+address {
        background: lighten(#eee, 2%);
        padding: 1em;
        font-style: normal;
        margin-left: 2em;
        float: right;
        @media screen and (max-width: $screen-md) {
            width: 100%;
        }
    }
}

form {
    &#searchform {
        float: left;
    }
    .wpcf7 & {
        display: inline-block;
        float: left;
        label {
            display: block;
            margin: 0 0 .25em 0;
            padding-right: 1em;
            line-height: 1.4;
            +.wpcf7-form-control {
                @media screen and (min-width: $screen-sm) {
                    max-width:75%;flex-basis:75%;
                }
            }
        }
    }
    .wpcf7-form-control-wrap>span {
        &:before, &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        display: block;
        >.wpcf7-list-item {
            @media screen and (max-width: $screen-sm) {
                display: block;
            }
            @media screen and (min-width:$screen-sm) {
                max-width:25%;flex-basis:25%;
                margin: 0;
                display: inline-block;
            }
        }
        .wpcf7-list-item-label {
            min-width: 150px;
            font-size: small;
        }
    }
    .wpcf7-form-control-wrap.datenschutz .wpcf7-acceptance {
        display: inline-block;
        width: 20px;
        float: left;
        margin-bottom: 60px;
        .wpcf7-list-item {
            width: auto;
        }
    }
    input[type='url'],
    input[type='tel'],
    input[type='email'],
    input[type='text'],
    input[type='password'],
    input[type='number'],
    select,
    textarea {
        background: #f9f9f9;
        font-family: inherit;
        font-size: 1em;
        line-height: 1.4;
        padding: 8px;
        border: 1px solid var(--wp--preset--color--border);
        box-shadow: inset 1px 1px 1px var(--wp--preset--color--border);
        border-radius: 3px;
        color: #999;
        min-height: 20px;
        width: 100%;
    }
    input[type='url'],
    input[type='tel'],
    input[type='email'],
    input[type='text'],
    input[type='password'],
    input[type='number'],
    textarea {
        appearance:textfield;
    }
    input[type='checkbox'] {
        margin: 0 0 .2em 0;
    }
    select {
        &:not([multiple]) {
            height: 40px;
        }
        &[multiple] {
            min-height: 150px;
        }
    }
}

.top-fixed {
    position: fixed;
    right: 0;
    z-index: 10;
    background: #eee;
    min-height: 36px;
    @media screen and (max-width: $screen-md) {
        bottom: 0;
        top: auto;
    }
    @media screen and (min-width:$screen-md) and (max-width:$screen-lg) {
        top: 8em;
    }
    @media screen and (min-width:$screen-lg) {
        top: 0;
    }
}

[id*="polylang"] {
    display: block;
    margin: 0;
    ul {
        li {
            display: inline-block;
            background: transparent;
            margin: 0;
            padding: .2em .5em;
        }
    }
}

a.post-edit-link{
    display: block;
    max-width: var(--wp--style--global--content-size);
    margin: 0 auto;
}
