$color_primary: #0c4f9d;
@mixin flex($align, $justify){
	@include align-items($align);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content($justify);
}
@mixin child-flex($value){
    -webkit-box-flex: $value;
    -moz-box-flex:  $value;
    -webkit-flex:  $value;
    -ms-flex:  $value;
    flex:  $value;
}
$border-color: rgba(0, 0, 0, 0.12);